body {
    color: $white-text;
    background-color: $bg-color;

    @extend %fs-regular;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $white-text;
}

.suptitle-left {
    position: relative;
    display: inline-block;
    padding-left: 103px;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: rgba($white-color, 0.5);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 80px;
        height: 1px;
        background-color: #979797;
    }
}

.container {
    margin: 0 auto;
    max-width: 1920px;
}

.title {
    h3 {
        position: absolute;
        right: -5px;
        top: 10px;
        font-size: 80px;
        line-height: 120%;
        text-transform: uppercase;
        color: $white-text;
    }

    h3::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        z-index: 6px;
        width: 80px;
        height: 1px;
        background-color: $bir-color;
    }

    span {
        position: relative;
        display: inline-block;
        font-size: 200px;
        text-transform: uppercase;
        color: rgba($white-text, 0.02);
        transform: translateX(-50px);
    }

    @extend %fs-extra-bold;
}