//
%fs-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
}

%fs-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

%fs-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}

%fs-extra-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
}

$white-text: #fff;
$white-color: #fff;
$bir-color: #4af6cd;
$bg-color: #171919;